
# Maven
target/

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
*.project
*.classpath
*.springBeans

# Vaadin
samples/**/src/main/resources/VAADIN/widgetsets
samples/**/src/main/webapp/VAADIN/themes/*.css
samples/**/src/main/webapp/VAADIN/themes/**/*.css
