
# Maven
target/

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
*.project
*.classpath
*.springBeans

# Vaadin
spring-boot-sample/src/main/public/VAADIN/widgetsets
spring-boot-sample/src/main/resources/VAADIN/themes/sample/styles.css
samples/push-sample/src/main/resources/VAADIN/widgetsets
samples/mvp-sample/src/main/webapp/VAADIN/widgetsets
samples/security-sample/src/main/webapp/VAADIN/widgetsets
samples/security-sample/src/main/webapp/VAADIN/themes/security/styles.css
