
# Maven
target/

# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
*.project
*.classpath
*.springBeans

# Vaadin
samples/*-sample*/src/main/webapp/VAADIN/themes/*.css
samples/*-sample*/src/main/webapp/VAADIN/themes/**/*.css
samples/*-sample*/src/main/webapp/VAADIN/widgetsets/
samples/*-sample*/src/main/resources/VAADIN/widgetsets/
