/*
 * Import the reindeer theme.
 * This only allows us to use the mixins defined in it and does not add any styles by itself.
 */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
@mixin sample {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  .v-label {
    background-color: yellow; // Just to check that the theme is working
  }
}
